:root {
  --main-color: #202020;
  --light-blue: #007BFF;
  --dark-blue: #0056B3;
  --border-color: #D1D9E0;
  --source-background: #E8F2FB;
}
* {
  color: var(--main-color);
}
body {
  font-family: sans-serif;
}
header {
  border-color: var(--border-color);
  border-width: thin;
  border-bottom-style: solid;
}
a {
  text-decoration: none;
  color: var(--light-blue);
}
a:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}
#site-title {
  font-size: 3rem;
  color: var(--main-color);
}
div.sourceCode {
  border-color: var(--border-color);
  border-width: thin;
  border-style: solid;
  background-color: var(--source-background);
  border-radius: 5px;
}
pre.sourceCode {
  margin: 0.5em;
}
